
.Chat-main

  .Chat-main__group-info
    .Chat-main__group-info__group-name 
      = @group.name
      %ul.Chat-main__group-info__group-name__member-list 
        Member：
        %li.Chat-main__group-info__group-name__member-list__member 
          - @group.users.each do |user|
            = user.name
    .Chat-main__group-info__group-edit
      = link_to edit_group_path(@group) do
        Edit
      


  .Chat-main__Message-area
    = render @messages
      

  %footer.Chat-main__form-area
    = form_with model:[@group, @message], html:{class: "Chat-main__form-area__message-area"},local: true do |f|
      .Chat-main__form-area__message-area__form-view
        = f.text_field :content, class: 'Chat-main__form-area__message-area__form-view__message-form', placeholder: 'type a message'
        = f.label :image, class: 'Chat-main__form-area__message-area__form-view__image-btn' do
          = icon('far', 'image',class: 'Chat-main__form-area__message-area__form-view__image-btn__icon')
          = f.file_field :image, class: 'Chat-main__form-area__message-area__form-view__image-btn__hidden-file'
      = f.submit 'Send',class: 'Chat-main__form-area__message-area__send-btn' 
