.Side-bar
  .Side-bar__header
    .Side-bar__header__header-items
      .Side-bar__header__header-items__name
        = current_user.name
      %ul.Side-bar__header__header-items__icons
        %li
          =link_to "/groups/new" do
            = icon('fas', 'edit')
        %li
          =link_to "/users/:id/edit" do
            = icon('fas', 'cog')
  .Side-bar__main
    .Side-bar__main__group-list
      - current_user.groups.each do |group|
        .Side-bar__main__group-list__group 
          = link_to '#' do
            .Side-bar__main__group-list__group__group-name 
              = group.name
            .Side-bar__main__group-list__group__group-message
              まだメッセージがありません
      